.leaderboards {
    display: flex;
    flex: 1;
    padding-bottom: 8.33333%;
}

.leaderboards > * {
    flex: 1;
}

.leaderboards > div .streaks {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.leaderboards > div .streaks .winning-streaks {
    flex: 1;
}

@media (max-width: 1280px) {
    .leaderboards {
        flex-wrap: wrap;
        align-content: baseline;
    }

    .leaderboards-container .streaks .point-tracker {
        display: none;
    }
}

@media (min-width: 1281px) {
    .leaderboards-second-column {
        flex: 2;
        display: flex;
        flex-wrap: wrap;
    }

    .leaderboards-container > .point-tracker {
        display: none;
    }

    .leaderboards-second-column > * {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .leaderboards .recent-activity .list-container ol {
        padding-left: 20px;
    }

    .leaderboards .rankings li img {
        max-height: 50px;
        max-width: 50px;
        border-width: 2px;
        margin: 2px;
    }

    .leaderboards .rankings ul li .player-name {
        font-size: 2.2rem;
    }

    .leaderboards .rankings ul li .ranking-badge {
        font-size: 2rem;
        min-width: 65px;
    }
}
