.leaderboards {
    display: flex;
    flex: 1;
    padding-top: 8.33333%;
    padding-bottom: 8.33333%;
}

.leaderboards > * {
    flex: 1;
}

.leaderboards > div > .streaks {
    display: flex;
}

.leaderboards > div > .streaks > * {
    flex: 1;
}

@media (max-width: 1280px) {
    .leaderboards {
        flex-wrap: wrap;
        align-content: baseline;
    }

    .leaderboards .rankings, .leaderboards .recent-activity {
        min-width: 100%;
    }

    .leaderboards .rankings {
        order: -1;
    }
}

@media (max-width: 768px) {
    .leaderboards .recent-activity .list-container ol {
        padding-left: 20px;
    }

    .leaderboards .rankings li img {
        max-height: 50px;
        max-width: 50px;
        border-width: 2px;
        margin: 2px;
    }

    .leaderboards .rankings ul li .player-name {
        font-size: 2.2rem;
    }

    .leaderboards .rankings ul li .ranking-badge {
        font-size: 2rem;
        min-width: 65px;
    }
}
