.record-match {
    display: flex;
    flex: 1;
    padding-bottom: 8.33333%;
    justify-content: center;
}

.record-match > * {
    flex: 1;
}

.record-match > div > .streaks {
    display: flex;
}

.record-match > div > .streaks > * {
    flex: 1;
}

.record-match .match-player {
    max-width: 340px;
}

@media (max-width: 1280px) {
    .record-match {
        flex-wrap: wrap;
        align-content: baseline;
        justify-content: space-evenly;
    }

    .record-match .point-tracker {
        align-items: center;
        order: -1;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .record-match .match-player {
        min-width: 100%;
    }
}
