@import url(https://fonts.googleapis.com/css?family=Audiowide|Montserrat);* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background: #447A77;
    color: #2c2c2c;
    font-size: 62.5%;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
            text-size-adjust: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Fix for iOS PWA with notches as it keeps the height above the home bar, which is taken care of in the navigation component */
html {
    height: calc(100% + env(safe-area-inset-top));
}

#root {
    height: 100%;
    width: 100%;
}
.App {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100%;
    width: 100%;
}

.App .contents {
    -ms-flex: 1 1;
        flex: 1 1;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
    padding-top: env(safe-area-inset-top);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    .App .contents {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.leaderboards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
        flex: 1 1;
    padding-top: 8.33333%;
    padding-bottom: 8.33333%;
}

.leaderboards > * {
    -ms-flex: 1 1;
        flex: 1 1;
}

.leaderboards > div > .streaks {
    display: -ms-flexbox;
    display: flex;
}

.leaderboards > div > .streaks > * {
    -ms-flex: 1 1;
        flex: 1 1;
}

@media (max-width: 1280px) {
    .leaderboards {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-line-pack: baseline;
            align-content: baseline;
    }

    .leaderboards .rankings, .leaderboards .recent-activity {
        min-width: 100%;
    }

    .leaderboards .rankings {
        -ms-flex-order: -1;
            order: -1;
    }
}

@media (max-width: 768px) {
    .leaderboards .recent-activity .list-container ol {
        padding-left: 20px;
    }

    .leaderboards .rankings li img {
        max-height: 50px;
        max-width: 50px;
        border-width: 2px;
        margin: 2px;
    }

    .leaderboards .rankings ul li .player-name {
        font-size: 2.2rem;
    }

    .leaderboards .rankings ul li .ranking-badge {
        font-size: 2rem;
        min-width: 65px;
    }
}
.card {
    background: #242422;
    margin: 10px;
    border-radius: 7px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    width: calc(100% - 20px);
    color: #fff;
}

.card .card-header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #747474;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.rankings ul {
    list-style-type: none;
    margin: 0;
    padding: 13px 16px;
}

.rankings ul li {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.rankings ul li img {
    max-height: 70px;
    max-width: 70px;
    border: 3px solid #e1e1c4;
    border-radius: 100%;
    margin: 5px;
}

.rankings ul li .player-name {
    text-align: left;
    -ms-flex: 1 1;
        flex: 1 1;
    font-size: 3rem;
    padding: 5px 15px;
    -ms-flex-item-align: center;
        align-self: center;
}

.rankings ul li .ranking-badge {
    border: .5px solid #e1e1c4;
    background: 0 0;
    border-radius: 5px;
    color: #e1e1c4;
    font-size: 2.2rem;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 3px 8px;
    min-width: 70px;
    text-align: center;
}
.recent-activity .list-container {
    padding: 20px;
}

.recent-activity li {
    color: #f4f4f4;
    font-size: 1.4rem;
    line-height: 1.5;
}

.recent-activity .winner-name {
    color: #90a3b2;
}

.recent-activity .loser-name {
    color: #de6155;
}

.recent-activity .activity-time {
    color: #747474;
}
.winning-streak .streak {
    font-size: 3rem;
    text-align: center;
    padding: 13px 16px;
    line-height: 1.5;
    margin: 0;
}

.winning-streak .streak .streak-score:before {
    display: inline-block;
    content: " - ";
    padding: 0 10px;
}

@media (max-width: 650px) {
    .winning-streak .streak span {
        display: block;
    }

    .winning-streak .streak .streak-score:before {
        display: none;
    }
}

.winning-streak .card {
    height: calc(100% - 20px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.record-match {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
        flex: 1 1;
    padding-top: 8.33333%;
    padding-bottom: 8.33333%;
    -ms-flex-pack: center;
        justify-content: center;
}

.record-match > * {
    -ms-flex: 1 1;
        flex: 1 1;
}

.record-match > div > .streaks {
    display: -ms-flexbox;
    display: flex;
}

.record-match > div > .streaks > * {
    -ms-flex: 1 1;
        flex: 1 1;
}

.record-match .match-player {
    max-width: 340px;
}

@media (max-width: 1280px) {
    .record-match {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-line-pack: baseline;
            align-content: baseline;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    }

    .record-match .point-tracker {
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-order: -1;
            order: -1;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .record-match .match-player {
        min-width: 100%;
    }
}
.point-tracker .card {
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    max-width: 500px;
    padding: 10px;
    width: 100%;
}

.point-tracker .active-players {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
}

.point-tracker .player img {
    width: calc(100% - 30px);
    margin: 15px;
    border-radius: 100%;
    display: block;
    border: 3px solid #e1e1c4;
}

.point-tracker .player {
    -ms-flex: 1 1;
        flex: 1 1;
    margin: 0 1px;
    padding: 5px;
    background: #de6155;
    max-width: 50%;
    -ms-flex-line-pack: center;
        align-content: center;
}

.point-tracker .player:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.point-tracker .player:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.point-tracker .player.select {
    background: #e1e1c4;
    min-height: 100px;
    padding: 0;
    max-width: 100%;
}

.point-tracker .player.select a {
    color: #2C2C2C;
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 15px;
    text-decoration: none;
}

.point-tracker .player.select a p {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0 0;
}

.point-tracker .player .player-name {
    font-size: 25px;
    margin: 0;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.point-tracker .player.is-winning {
    background: #3B576B;
}

.point-tracker .player input {
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 3px 8px;
    font-size: 3rem;
    outline: none;
    text-align: center;
}

.point-tracker .actions {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.point-tracker button.submit, .point-tracker button.reset {
    border-radius: 5px;
    padding: 0 1.7rem;
    height: 2.8em;
    font-size: 2.2rem;
    border: none;
    max-width: 250px;
    text-transform: uppercase;
    margin: 10px;
    display: block;
    outline: none;
    -ms-flex: 1 1;
        flex: 1 1;
}

.point-tracker button.submit {
    background-color: #e5c365;
    color: #2C2C2C;
}

.point-tracker button.reset {
    color: #2C2C2C;
    background-color: #e1e1c4;
    border: 1px solid #747474;
}

.point-tracker hr {
    background-color: grey;
    margin: 10px 0 40px;
    width: 100%;
    height: 1px;
    border-width: 0;
}
.navbar {
    height: 56px;
    height: calc(56px + env(safe-area-inset-bottom));
    background-color: #1d1d1d;
    display: -ms-flexbox;
    display: flex;
    /* Make room for the home bar on iOS PWA */
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

.navbar .nav-link {
    -ms-flex: 1 1;
        flex: 1 1;
}

.navbar .nav-link button:hover {
    cursor: pointer;
}

.navbar .nav-link button {
    text-align: center;
    color: rgba(244, 244, 244, .7);
    font-size: 1.4rem;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    font-family: 'Montserrat', sans-serif;
    -ms-flex-pack: center;
        justify-content: center;
    font-weight: 700;
    border: none;
    background: none;
    outline: none;
}

.navbar .nav-link.active button {
    color: #e5c365;
}

.navbar .nav-link.active button:hover {
    cursor: auto;
}
.choose-player {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2C2C2C;
    font-size: 2.3rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.choose-player a.player-select {
    display: block;
    text-decoration: none;
    color: #fff;
}

.choose-player .reactjs-coverflow_Coverflow {
    -webkit-perspective: none;
            perspective: none;
}

.choose-player  .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
}

.choose-player  .card-header {
    color: #e1e1c4;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    -ms-flex-order: 2;
        order: 2;
    -ms-flex: 1 1;
        flex: 1 1;
    line-height: 80px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.choose-player .is-winning .card-header {
    background: #3B576B;
}

.choose-player .is-winning img {
    border-color: #3B576B;
}

.choose-player  img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 3px solid #e1e1c4;
}

.choose-player .player-search {
    background: #e1e1c4;
    border: 4px solid #242422;
    font-size: 15px;
    margin: 10px;
    color: #242422;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -ms-flex-align: center;
        align-items: center;
    padding: 10px;
}

.choose-player .player-search input {
    background: transparent;
    border: none;
    -ms-flex: 1 1;
        flex: 1 1;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
    color: #242422;
    font-weight: 500;
}

.choose-player p {
    text-align: center;
    margin: 10px auto;
    -ms-flex-order: 1;
        order: 1;
}

/*# sourceMappingURL=main.9713371e.css.map*/