.match-player {
    transform-style: preserve-3d;
    position: relative;
    perspective: 1000px;
}

.match-player .choose-player, .match-player .selected-player {
    width: 100%;
    position: relative;

    transform-style: preserve-3d;
    perspective-origin: top center;
    animation-duration: 1s;
    animation-timing-function: linear;
    transition-property: transform;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    overflow: hidden;
}

.match-player .choose-player {
    z-index: 2;
    transform: rotateY(0);
    animation-name: show;
}

.match-player.player-is-selected .choose-player {
    animation-name: no-show;
}

.match-player .selected-player {
    transform: rotateY(-180deg);
    animation-name: no-show;
}

.match-player.player-is-selected .selected-player {
    animation-name: show;
}

.match-player button {
    margin: 16px;
    color: #7b7b7b;
    background-color: transparent;
    border-radius: 64px;
    border-color: #747474;
    padding: 0 2.6rem;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    outline: none;
    /* clean-css ignore:start */
    width: calc(100% - 32px);
    /* clean-css ignore:end */
}

.selected-player {
    font-size: 2.3rem;
}

.selected-player .card {
    display: flex;
    flex-direction: column;
}

.selected-player .card-header {
    background: #EC1164;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
}

.selected-player.is-winning .card-header {
    background: #5EC0D5;
}

.selected-player.is-winning img {
    border-color: #5EC0D5;
}

.selected-player img {
    border-radius: 100%;
    max-width: 150px;
    margin: 20px auto;
    border: 3px solid #EC1164;
    width: 100%;
}

.selected-player p {
    text-align: center;
    margin: 10px auto;
}

.selected-player hr {
    margin: 10px 10%;
    background: #747474;
    border: 1px solid #747474;
    height: 1px;
}

.selected-player dl {
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
}

.selected-player dl * {
    width: 80%;
    margin: 0 0 20px 0;
}

.selected-player dl dd {
    text-align: right;
    width: 20%;
}

@keyframes no-show {
    0% {
        transform: rotateY(0deg);
        height: auto;
        width: 100%;
    }

    49% {
        height: auto;
        width: 100%;
    }

    50% {
        height: 0;
        width: 0;
    }

    100% {
        transform: rotateY(180deg);
        height: 0;
        width: 0;
    }
}

@keyframes show {
    0% {
        transform: rotateY(-180deg);
        height: 0;
        width: 0;
    }

    49% {
        height: 0;
        width: 0;
    }

    50% {
        height: auto;
        width: 100%;
    }

    100% {
        transform: rotateY(0deg);
        height: auto;
        width: 100%;
    }
}
