.navbar {
    height: 56px;
    height: calc(56px + env(safe-area-inset-bottom));
    background-color: #1d1d1d;
    display: flex;
    /* Make room for the home bar on iOS PWA */
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

.navbar .nav-link {
    flex: 1;
}

.navbar .nav-link button:hover {
    cursor: pointer;
}

.navbar .nav-link button {
    text-align: center;
    color: rgba(244, 244, 244, .7);
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    font-weight: 700;
    border: none;
    background: none;
    outline: none;
}

.navbar .nav-link.active button {
    color: #e5c365;
}

.navbar .nav-link.active button:hover {
    cursor: auto;
}
