.navbar {
    height: 56px;
    background-color: #151515;
    display: flex;
    /* Make room for the home bar on iOS PWA */
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

.navbar .nav-link {
    flex: 1;
}

.navbar .nav-link button:hover {
    cursor: pointer;
}

.navbar .nav-link button {
    text-align: center;
    color: rgba(244, 244, 244, .7);
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Audiowide, sans-serif;
    border: none;
    background: none;
    outline: none;
}

.navbar .nav-link.active button {
    color: #5EC0D5;
}

.navbar .nav-link.active button:hover {
    cursor: auto;
}
