.point-tracker {
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.point-tracker .active-players {
    display: flex;
    width: 100%;
    justify-content: center;
}

.point-tracker .player img {
    width: calc(100% - 30px);
    margin: 15px;
    border-radius: 100%;
    display: block;
    border: 3px solid #e1e1c4;
}

.point-tracker .player {
    flex: 1;
    margin: 0 1px;
    padding: 5px;
    background: #de6155;
    max-width: 50%;
    align-content: center;
}

.point-tracker .player.select {
    background: #e1e1c4;
    min-height: 100px;
    padding: 0;
}

.point-tracker .player.select a {
    color: #2C2C2C;
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    text-decoration: none;
}

.point-tracker .player.select a p {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0 0;
}

.point-tracker .player .player-name {
    font-size: 25px;
    margin: 0;
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

.point-tracker .player.is-winning {
    background: #405462;
}

.point-tracker .player input {
    width: 100%;
    height: 60px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 3px 8px;
    font-size: 3rem;
    outline: none;
    text-align: center;
}

.point-tracker > button {
    border-radius: 64px;
    padding: 0 2.6rem;
    height: 2.8em;
    font-size: 2rem;
    border: none;
    width: 100%;
    max-width: 250px;
    text-transform: uppercase;
    margin: 10px 0;
    outline: none;
}

.point-tracker button.submit {
    background-color: #e5c365;
    color: #2C2C2C;
}

.point-tracker button.reset {
    color: #2C2C2C;
    background-color: #e1e1c4;
    border: 1px solid #747474;
}

.point-tracker hr {
    background-color: grey;
    margin: 40px 0;
    width: 100%;
    height: 1px;
    border-width: 0;
}
