.recent-activity .list-container {
    padding: 20px;
}

.recent-activity li {
    color: #f4f4f4;
    font-size: 1.4rem;
    line-height: 1.5;
}

.recent-activity .winner-name {
    color: #90a3b2;
}

.recent-activity .loser-name {
    color: #de6155;
}

.recent-activity .activity-time {
    color: #747474;
}
