.top-nav {
    height: 60px;
    height: calc(60px + env(safe-area-inset-top));
    padding: 5px 8.33333%;
    background: #1d1d1d;
    display: flex;
    justify-content: space-between;
    padding-top: calc(5px + env(safe-area-inset-top));
}

.top-nav .logo {
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top-nav .logo img {
    height: 100%;
}

.top-nav .right-nav {
    display: flex;
}

.top-nav button {
    background: none;
    border: none;
    color: #e1e1c4;
    font-size: 1.6rem;
    display: block;
    padding: 5px 15px;
    outline: none;
}

.top-nav button:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .top-nav {
        padding-left: 10px;
        padding-right: 10px;
    }
}
