.winning-streak .streak {
    font-size: 3rem;
    text-align: center;
    padding: 13px 16px;
    line-height: 1.5;
    margin: 0;
}

.winning-streak .streak .streak-score:before {
    display: inline-block;
    content: " - ";
    padding: 0 10px;
}

@media (max-width: 650px) {
    .winning-streak .streak span {
        display: block;
    }

    .winning-streak .streak .streak-score:before {
        display: none;
    }
}

.winning-streak .card {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
