.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.App .contents {
    flex: 1;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
    padding-top: env(safe-area-inset-top);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
    .App .contents {
        padding-left: 0;
        padding-right: 0;
    }
}
