@import url('https://fonts.googleapis.com/css?family=Audiowide|Montserrat');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background: #447A77;
    color: #2c2c2c;
    font-size: 62.5%;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    touch-action: manipulation;
    word-wrap: break-word;
    text-size-adjust: none;
    user-select: none;
}

/* Fix for iOS PWA with notches as it keeps the height above the home bar, which is taken care of in the navigation component */
html {
    height: calc(100% + env(safe-area-inset-top));
}

#root {
    height: 100%;
    width: 100%;
}
